<h1>Cats, Todos, & Users</h1>
<p>List of all the cats, todo tasks, and users in our database!</p>

<h2>Cats</h2>
<% @cats.each do |cat| %>
  <b> Name: </b><%= cat.name %>
  <br />
<% end %>

<h2>Todos</h2>
<% @todos.each do |todo| %>
  <b> Task: </b><%= todo.tasks %> <b> Finished? </b><%= todo.finished %>
  <br />
<% end %>

<h2>Users</h2>
<% @users.each do |user| %>
  <b> Username: </b><%= user.username %> <b> Email: </b><%= user.email %> <b> Age: </b><%= user.age %>
  <br />
<% end %>

<br />
<%= link_to 'Add To Todo List', todos_new_path %>
